.loader-container {
  display: grid;
  place-items: center;
  min-height: 150px;
}

.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #263449;
  border-top-color: var(--primary-light);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}